/* Button.module.css */
.Button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #bc0c99;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 700;
    width: 20%;
    margin: 0 auto;
}

.Button:hover,
.Button:focus {
    background-color: #e063cd;
    color: #000;
    transform: scale(1.05);
    border: 2px solid #ef0cef;
}

.Button:active {
    transform: scale(0.95);
}