/* SearchBar.module.css */
.searchbar {
    background-color: #f0f8ff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    align-items: center;
    border: 2px solid #edb42f;
    border-radius: 5px;
    overflow: hidden;
}

.input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    width: 50%;
}


.button {
    padding: 10px 15px;
    border: none;
    background-color: #cbad05;
    /* Soft pink */
    color: #311c1c;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    height: 40px;
}

.button:hover {
    background-color: #efc006;
    /* Light blue on hover */
    color: #292823;
    /* Pink text */
}

.buttonLabel {
    font-weight: bold;
}